<br>
<div class="medium-4 large-2 columns">
  <div class="hero-frame">
    <%= image_tag("heroes/#{arena.hero}.png") %>
    <%= hidden_field_tag 'hero', arena.hero %>
    <%= hidden_field_tag 'arena', arena.id %>
  </div>
</div>

<%= render partial: "shared/new_match_grid" %>

<div>
  <%= hidden_field_tag 'open_wins', arena.open_wins %>
  <%= hidden_field_tag 'open_losses', arena.open_losses %>
</div>

<div id="arenaFinishedModal" class="reveal-modal" data-reveal>
  <a class="close-reveal-modal">&#215;</a>
  <h2>Arena finished</h2>
  Awesome, go and claim your arena rewards.
  <p>
    <%= link_to "Claim your reward!",
           arena_path(arena),
           class: "button",
           id: "claim_reward_link"
    %>
  </p>
</div>

<div class="large-12">
  <hr>
  <h2>Your arena matches</h2>
  <div id="error">
  </div>
</div>

<div class="large-12">
  <div id="my_matches">
    <%= render partial: "matches/match_create_row",
          collection: arena.matches.decorate, as: :match %>
  </div>
</div>

