<h2>Create a new arena</h2>

<% if arena.errors.any? %>
  <ul>
    <% arena.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<div class="hero-frame">
  <%= image_tag("heroes/#{ arena.hero.present? ? arena.hero : "none" }.png") %>
<div>

<%= form_for(arena) do |f| %>
  <%= f.select :hero , Arena::HEROS, include_blank: true %>
  <%= f.submit "Create", class: "button" %>
<% end %>

<script>
  $(function(){
    var hero_box = $("#new_arena #arena_hero")

    hero_box.change(function () {
      var hero = ($('#arena_hero').val() === "") ? "none" : $('#arena_hero').val()
      var img_url = "<%= root_url %>" + "assets/heroes/" + hero + ".png"

      $(".hero-frame img").attr("src", img_url);
    });

    hero_box.trigger('change');
  });
</script>

