<div class="row">
  <div class="small-1 columns hide-on-phones">
  </div>
  <div class="small-1 columns match_<%= match.won ? "win" : "loose"%>">
    <%= match_counter %>
  </div>
  <div class="small-1 columns">
    <% if match.arena %>
      <%= link_to match.arena.id, arena_path(match.arena) %>
    <% end %>
  </div>
  <div class="small-1 columns">
    <%= match.hero ? image_tag("heroes/#{match.hero}_small_circle.png") : "" %>
  </div>
  <div class="small-1 columns">
    <%= image_tag("heroes/#{match.opponent}_small_circle.png") %>
  </div>
  <div class="small-1 columns">
    <%= match.created_at %>
  </div>
  <div class="small-6 columns hide-on-phones">
  </div>
</div>
