<br>
<div class="medium-4 large-2 columns">
  <div class="hero-frame">
    <%= image_tag("heroes/none.png") %>
  </div>
  <%= select_tag :hero, options_for_select(Arena::HEROS), include_blank: true %>
</div>

<div class="medium-8 large-10 columns">
  <h2>Add a match with one click!</h2>
  <div id="new_matches" data-action-url="<%= matches_path %>">
  </div>
  <div id="newMatchGrid" class="small-block-grid-3 medium-block-grid-6 large-block-grid-9">
    <% %w(win loose).each do |result| %>
     <% Arena::HEROS.each do |hero| %>
        <li id="<%= result %>_vs_<%= hero %>" class="match_<%= result %>">
          <%= link_to image_tag("heroes/#{hero}_small_circle.png"),"#", value: "#{hero}" %>
        </li>
      <% end %>
    <% end %>
  </div>
</div>

<div class="large-12">
  <hr>
  <h2>Your recent matches</h2>
  <div id="error">
  </div>
</div>

<div class="large-12">
  <div id="my_matches">
    <%= render partial: "match_create_row", collection: matches.decorate, as: :match %>
  </div>
</div>

