<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Hearthstone Arena Tracker" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag :modernizr %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>

    <%= csrf_meta_tags %>
  </head>

  <body>
    <script>
      $(function() { $(document).foundation(); });
    </script>
    <div class="container">
      <div class="row">
        <nav class="top-bar" data-topbar role="navigation">
          <ul class="title-area">
            <li class="name">
              <h1>
                <%= link_to('Hearthstone Arena Tracker', root_path) %>
              </h1>
            </li>
             <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
          </ul>
          <section class="top-bar-section">
            <!-- Left Nav Section -->
            <% if logged_in? %>
              <ul class="left">
                <li class="has-dropdown">
                  <a href="<%= arenas_path %>">
                    <span class="fi-torsos">
                      Arenas
                    <span>
                  </a>
                  <ul class="dropdown">
                    <li class="active">
                      <a href="<%= new_arena_path  %>">
                        <span class="fi-plus">
                          Add new Arena
                        <span>
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="has-dropdown">
                  <a href="<%= matches_path %>">
                    <span class="fi-die-six">
                      Matches
                    <span>
                  </a>
                  <ul class="dropdown">
                    <li class="active">
                      <a href="<%= new_match_path  %>">
                        <span class="fi-plus">
                          Add a Match
                        <span>
                      </a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="<%= stats_path %>">
                    <span class="fi-graph-bar">
                      Stats
                    <span>
                  </a>
                </li>
              </ul>
            <% end %>

            <!-- Right Nav Section -->
            <ul class="right">
              <% if logged_in? %>
                <li>
                  <a href="<%= user_path(current_user) %>">
                    <span class="fi-torso">
                      <%= current_user.name %>
                    </span>
                  </a>
                </li>

                <li class="alert">
                  <a id="logoutLink" href="<%= logout_path %>" data-method="delete" rel="nofollow">
                    <span class="fi-x-circle">
                      Logout
                    </span>
                  </a>
                </li>
              <% else %>
                <li class="active">
                  <a id="loginModalLink" href="#" data-reveal-id="loginModal">
                    <span class="fi-unlock">
                      Login
                    </span>
                  </a>
                </li>
              <% end %>
            </ul>
          </section>
        </nav>
      </div>

      <div id="flash_errors">
        <% flash.each do |name, msg| -%>
          <div data-alert class="row alert-box <%= name %>">
            <%= msg %>
            <a href="#" class="close">&times;</a>
          </div>
        <% end -%>
      </div>

      <div id="loginModal" class="reveal-modal" data-reveal>
        <a class="close-reveal-modal">&#215;</a>
        <h2>Login</h2>
        <%= form_for(:session, url: login_path) do |f| %>

          <%= f.label :name %>
          <%= f.text_field :name, class: 'form-control' %>

          <%= f.label :password %>
          <%= f.password_field :password, class: 'form-control' %>

          <%= f.submit "Log in", class: "button" %>
        <% end %>

        <p>New user? <%= link_to "Sign up now!", signup_path %></p>
      </div>
      <div id="content" class="row">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
